.container {
  padding-left: 8em;
  padding-right: 5em;
}


header{
  background-image: url("../Assets/main\ img.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}


.main {
  color: white;
  height: 100%;
  width: auto;
  background-color: #2C3E50;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main div {
  padding: 11em;
}

.main #logo {
  padding: 4.5em;
}

.features-sub1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5em;
  font-family: Helvetica;
}

.features-sub1 div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.features-sub1 img {
  max-width: 100%;
  height: auto;
}

.features-list {
  padding-top: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features-list h1 {
  font-size: 40px;
}

.features-list p {
  color: #242635;
  line-height: 25px;
}

.features-sub2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3em;
  font-family: Helvetica;
}

.features-sub2 div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.features-sub2 img {
  max-width: 100%;
  height: auto;
}

.features-sub3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5em;
  font-family: Helvetica;
}

.features-sub3 div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.features-sub3 img {
  max-width: 100%;
  height: auto;
}

.work {
  padding-top: 5em;
}

.work-sub {
  text-align: center;
  font-size: 20px;
  line-height: 48px;
  font-family: Helvetica;
  padding-bottom: 1em;
}

.work-sub p {
  margin-top: -1em;
}

.process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5em;
  font-family: Helvetica;
}

.process div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.process-sub {
  padding-right: 20px;
}

.process-sub h1, .process-sub p {
  margin: 10px;
}

.process-sub:hover div {
  background-color: #FF6E43;
  border-radius: 5.28px;
  padding: 30px;
}

.perks {
  text-align: center;
  font-family: Helvetica;
  padding-bottom: 5em;
}

.line {
  background-color: #E0DFDF;
  width: auto;
  height: .5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.perks-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.perks-sub div {
  padding-left: 9vw;
}

.perks-sub p {
  text-align: left;
}

.input-form {
  padding: 5em 1em;
}

.input-form-sub {
  text-align: center;
  font-family: Helvetica;
  color: #8C9DC5;
  padding-bottom: 2em;
}

.input-formlist {
  color: #8C9DC5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-formlist p {
  text-align: center;
}

.btn-apply-now {
  background-color: #FFFFFF;
  border-radius: 29px;
  border: none;
  font-weight: bold;
  width: 224px;
  height: 58px;
}

.input-1 {
  border: none;
  border-bottom: 1.73px solid #6D7B9C;
  background-color: transparent;
  width: 83vh;
  padding: 1em;
}

.input-1 input {
  border: none;
  background: transparent;
  width: 70vh;
}

#img-btn {
  margin-bottom: -5px;
  margin-left: 10px;
}

.input-1:hover {
  border-bottom: 1.73px solid #2178FF;
}

.faq {
  padding: 3em 0em;
}

.faq-head {
  text-align: center;
  font-family: Helvetica;
}

.faq-sub-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 4em;
}

.faq-sub-head div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.faq-sub-head hr {
  width: 574px;
}

.line-faq {
  background-color: #E0DFDF;
  width: 90vh;
  height: .5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  font-family: Helvetica;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 0em;
}

.footer div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.copyright {
  margin-left: 3em;
}

.terms {
  text-align: right;
  margin-right: 2em;
}

@media (max-width: 800px) {
  .perks-sub {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 800px) {
  .features-sub1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 800px) {
  .faq-sub-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 800px) {
  .process {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 800px) {
  .features-sub2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 800px) {
  .features-sub3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */